$darkblue:          #336699;
$lightblue:         #36aadd;
$titleblue:         #66a5e1;

$orange:            #ff9000;
$darkorange:        #ce7400;
$active-orange:     #ffa200;

$yellow:            #ffdd48;

$lightgreen:        #aacc42;
$active-lightgreen: #9dd552;
$darkgreen:         #88aa2b;
