//Primary
$blue:              #088ab7;
$orange:            #ff9000;
$yellow:            #ffdd48;

// Green
$lightgreen:        #aacc42;
$active-lightgreen: #9dd552;
$darkgreen:         #88aa2b;

// Orange
$orange:            #ff9000;
$darkorange:        #ce7400;
$active-orange:     #ffa200;


//Blue
$darkblue:          #336699;
$lightblue:         #36aadd;
$titleblue:         #66a5e1;

// Gray
$headergray:        #444444;
$darkestgray:       #555555;
$darkgray:          #666666;
$gray:              #888888;
$lightgray:         #eeeeee;